@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*>*{
    font-family: 'Balsamiq Sans', cursive;
}
body{
    background: #dcdce6;
    background-image: url('./assets/bg_image.jpg');
    background-size: 100% 100%;
}